.form-label {
    margin-top: 0.25rem;
    margin-bottom: 0rem;
}

.form-switch {
    margin-top: 0.5rem;
    margin-bottom: 0rem;
    display: flex;
}

.form-check-label {
    padding-left: 5px;
    margin-top: 0rem;
    margin-bottom: 0rem;
    width: 0;
    flex-grow: 1;
}

#toast {
    width: 0;
    flex-grow: 1;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    box-sizing: border-box;
    /* Firefox */
}

.tab-content > div > div > div {
    display: flex;
    flex-wrap: nowrap;
    height: calc(100svh - 42px);
}

.sidebar {
    flex-grow: 1;
    flex-shrink: 0;
    max-width: 100%;
    padding: 1rem;
    max-height: 100%;
    overflow: scroll;
}

@media (max-width: 600px) {
    .tab-content > div > div > div {
        display: block;
    }
    .sidebar {
        max-height: none;
        overflow: visible;
    }
}

.graph-container {
    flex-grow: 100;
    flex-shrink: 1;
    flex-basis: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.dash-dropdown {
    accent-color: var(--bs-primary);
    outline-color: var(--bs-primary);
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    padding: 0.375rem 0 0.375rem 0;

    &:focus {
        border-color: var(--bs-primary);
        box-shadow: 0 0 0 0.25rem rgba(var(--bs-primary-rgb), 0.25);
    }
}

.dash-dropdown-grid-container {
    padding-right: 8px;
    min-height: 1.5rem;
}

svg.dash-dropdown-trigger-icon {
    width: 22px;
    height: 22px;
}

.show-all-dropdown-value-items {
    .dash-dropdown-value-item {
        display: block;
    }

    .dash-dropdown-value-count {
        display: none;
    }

    .dash-dropdown-value-item:not(:first-child)::before {
        content: "";
        white-space: pre-line;
    }
}

.dash-dropdown + div {
    .dash-options-list-option-wrapper {
        align-self: center;
    }
    .dash-options-list-option-text span {
        white-space: pre-line;
    }
}

:root {
    --Dash-Fill-Interactive-Strong: var(--bs-primary);
}
